@font-face {
    font-family: "Museo Slab Title"; /* Имя шрифта */
    src: url(/fonts/MuseoCyrl700.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Museo Slab 300"; /* Имя шрифта */
    src: url(/fonts/MuseoCyrl300.otf); /* Путь к файлу со шрифтом */
}

@media screen and (max-width: 767px) {
    .top_container{border-top: 3px solid #0091d3;}

    .navbar{border-bottom: none!important;}
    .search-bg>.small-bg{background-position-x: -285px}
    .index_page .small-bg{background-position-x: -415px}
    .logo-text{
        line-height: 3;
    }
    .search-head{
        width: 90%;
    }
    .navbar-collapse{
        position: absolute;
        width: 100%;
    }

    .preview_text{
        font-size: 12px;
        margin: 0px!important;
    }
    .preview_title>a{color:#fff!important}
    .entry-title{font-size: 18px; margin:0px 0px 5px 0px}
    .detail_header{padding: 5px 5px 25px 5px;}
    .detail_header_index{color:#fff;  background: rgba(0, 0, 0, 0.7);  padding: 5px 5px 25px 5px;}
    .detail_content{  padding-left: 5px!important;  padding-right: 5px!important;  }
    .container_main>div{padding-bottom: 5px;}
    .container_main{ padding: 5px 5px 0px 5px!important;  }
    .caption_item{position: absolute;  bottom: 0;  width: 100%;  z-index: 1;}
    .detail_header>h3>a{color:#fff}
    .index-post-title{  position: absolute;  bottom: 5px;  width: 100%;  z-index: 1;  padding-right: 0px;  padding-left: 0px;  }
    .main{padding-bottom: 0px!important;}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .search-bg>.small-bg{background-position-x: -200px}
    .index_page .small-bg{background-position-x: -290px}
    /*.thumbnail>img{height:200px}*/
    .thumbnail>.detail-picture{height:300px;width: 100%;}
    .container_main>div{margin-bottom: 10px}
    .caption{  position: relative;  height:  124px;   }
    .preview_text{font-size:12px}
    .navbar-nav a{  font-size:12px;  }
    .main-detail{box-shadow: 5px 10px 65px #101010;margin-bottom: 40px;}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-form{
        float:right!important;
    }
    .thumbnail>a>img{height:200px;width: 100%;}
    .thumbnail>.detail-picture{height:300px;width: 100%;}
    .caption{  position: relative;  height:  174px;
    }
    .detail_header{  padding: 0 48px 25px;  }
    .main-detail{box-shadow: 5px 10px 65px #101010;margin-bottom: 40px;}
    .container_main>div{margin-bottom: 10px}
    .navbar-nav a{  font-size:12px;  }
    .main-detail{box-shadow: 5px 10px 65px #101010;margin-bottom: 40px;}
}
@media screen and (min-width: 1200px) {
    .navbar-form{  float:right!important;  }
    .thumbnail>a>img{height:200px;width: 100%;}
    .thumbnail>.detail-picture{max-height:500px;width: 100%;}
    .caption{  position: relative;  height: 197px;  }
    .container_main>div{margin-bottom: 10px}

    .detail_header{  padding: 0 48px 25px;  }
    .main-detail{box-shadow: 5px 10px 65px #101010;margin-bottom: 40px;}
}

.top_image{border-bottom: 3px solid #c92727}
.row{margin-left:0px;  margin-right:0px;}
.col-xs-12{padding-right: 0px;  padding-left: 0px; }
.detail_thumb{
    position:relative;
}
.detail-post-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.detail_header{
    color:#fff;
    background: rgba(0, 0, 0, 0.7);
}
.preview_text{
    font-style: italic;
}

.museo_title{
    font-family: "Museo Slab Title";
}
.container_title{
    font-size: 20px;
}

body{
    background-color: #F2F2F2;
    font-family: "Museo Slab 300";
    font-size: 15px;
}

.main{
    /*background-color: #61615f;*/
    margin-top: 50px;
    padding-bottom:0px;
    padding-right: 0px;
    padding-left: 0px;
}
.main-detail{background-color: #fff}


.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
    border:none;
    /*font-family: "Franklin Gothic Medium Cond";*/
    border-bottom:3px solid #0091d3;
}
.navbar-nav, .navbar-collapse, .dropdown-menu, .navbar{
    background-color: #333;
}
.navbar-brand{padding: 0;}

/*.navbar-nav li.active, .navbar-nav li a:hover, .navbar-nav li a:active, .navbar-nav li a:visited, .navbar-nav li a:focus
{background-color: #292929!important}*/

.navbar-nav li.active a,.navbar-nav li a:hover, .navbar-nav li a:active, .navbar-nav li a:focus, .navbar-nav li a:visited{color: #fff}
.navbar-nav li a:hover, .navbar-nav li.active a, .navbar-nav li a:focus, .navbar-nav li a:active{
    background-color: #111!important;
}
.navbar-nav li a:visited{
    background-color: transparent!important;
}
.navbar-nav>li>a{
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-form, .navbar-form .fa-search{
    padding-right: 0px;
    font-size: 17px;
}


.dropdown-menu{border:none}
.dropdown-menu>li>a{color:#fff;}


.logo-text{
    margin-left: 0px;
    color:#c92727!important;
    /*color:#ff6f00!important;*/
    font-family: "Goudy Stout";

}
.btn-search{
    padding:0;
}
.btn-search:hover{text-decoration: none}
.search-head{
    background-color: transparent;
    color:#fff;

    border: none;
    border-bottom: 1px solid #dcdcdc;
}
textarea:focus, input:focus{
    outline: none;
}

.small-bg{
    height:150px;
    /*box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.5);*/
}

.row.top-bg{/*padding-bottom: 20px*/border-bottom: 3px solid #c92727;}
.row.search-bg{/*padding-bottom: 20px*/border-bottom: 3px solid #111111;}

.pointer{cursor:pointer;outline: none!important;}


.thumbnail{
    padding:0px;
    margin:0px;
    border:none;
    border-radius:0px;
    background-color: transparent;
    /*background-size: cover;*/
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
}

.post-content {
    /*background: rgba(0,0,0,0.5);
    opacity: 0.5;*/
    bottom: 60px;
    left: 25px;
    position: absolute;
}
.post-content>h3>a{
    color:#fff;
}

.preview_title>a{
    color:#111;
    font-weight: bold;
}

.main_item{
    /*background-color: rgba(0, 145, 211, 0.17);*/
    background-color: rgba(23, 23, 23, 0.31);
    /*background-color: #f3eddc;*/
    /*box-shadow: 5px 5px 2px -1px #333;*/
}

.container_title{
    background-color: #123553;
    /*background-color: #c92727;*/
    padding:15px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}
.container_main{
    /*background-color: #d3d3d8;*/
    padding: 10px 10px 0px 10px;
}

.block_footer{
    position: absolute;
    bottom: 0px;
    font-size:12px;
    padding-bottom: 3px;
}
.block_footer.on_main{}

.detail_content{
    padding-top:35px;
    line-height: 1.7;
    padding-left: 40px;
    padding-right: 40px;
}
.detail_content img{
    max-width: 100%;
    padding:20px 0px 20px 0px;
    height: auto;
}

.white-bg{background-color: #fff;}
.q-word{font-size: 20px;margin-bottom:40px}
.q-word>span{color:#c92727}
.q-result{margin-top:40px}
.search_form>button,.search_form>button:hover{    background-color: #333;  color: #fff;  padding: 5px;}
.search_form>input{width:70%;border-bottom: 1px solid #111111; color:#111111}
.search_form>input::-webkit-input-placeholder {color:#111111;}
.search_form>input::-moz-placeholder          {color:#111111;}/* Firefox 19+ */
.search_form>input:-moz-placeholder           {color:#111111;}/* Firefox 18- */
.search_form>input:-ms-input-placeholder      {color:#111111;}
.result_items{margin-top:20px}
.item>p{margin:0px}
.find_word{color:#c92727}
.res_title{  font-size:17px; font-weight: bold; text-decoration: underline;}
.res_title>a{ color: #333333;}
.res_date{font-size:12px; color:#9e9999}
.res_text{    color: #333333;  font-style: italic;}
.res_item{padding:20px 0px 20px 0px}
.res_item:not(:last-child){    border-bottom: 1px solid rgba(0,0,0,0.2);}
